# Visual Studio временные файлы
.vs/
[Bb]in/
[Oo]bj/
out/
build/

# Файлы пользовательских настроек
*.suo
*.user
*.userosscache
*.sln.docstates

# Кэш компиляции (те самые тяжелые файлы)
*.ipch
*.aps
*.ncb
*.opendb
*.sdf
*.cachefile
*.pch

# Результаты сборки
*.exe
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.aps
